apiVersion: operator.github.com/v1
kind: DkronOperator
metadata:
  name: dkronoperator-sample
spec:
  dkronConfig:
    enablePrometheus: true
    bootstrapExpect: 3
    disableUsageStats: true
    dataDir: /root/dkron.data
  replicas: 3
  namespace: buddie
  # registry: 
  # imageName:
  # imageTag:
  imagePullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 1
      memory: 200Mi
    requests:
      cpu: 200m
      memory: 10Mi
  storageClass: 
  storageSize: 
  enableIngress: true
  baseDomain: buddie.cn
  ingressName: dkron
